<a href='/caballos'>Home</a>

<div class="container">
  <h3>Caballo: <%= @caballo.name %></h3>

  <h5>Breed: <%= @caballo.breed %></br>
  Age: <%= @caballo.age %></br>
  Vaquero: <%= @caballo.vaquero.name %></h5>
</div>
